.overflowtext {
  display: block;
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.highlight {
  background-color: lightsteelblue;
}

.spinner-border{
    align-content:center;
}
