.overflowtext {
  display: block;
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.highlight {
  background-color: dimgrey;
}

.spinner-border{
    align-content:center;
}

.image {
  max-width: 100%;
  height: auto;
}
