<div class="container" >
  <div>
    <h5 style="float:left;padding-top:40px;padding-left:100px">Available Widgets</h5>
  </div>

  <div style="float:right">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <button class="btn btn-primary" type="button">
          <a style="color:white" class="navbar-brand" href="widget/add">Add Widget </a>
        </button>
      </div>
    </nav>
  </div>
  <br />
  <br />
  <br />
  <br />
 
  <section  style="border: 2px solid grey; border-radius: 10px;height:500px;padding-top:10px">
    <section *ngIf="widget && widget.length > 0">
      <div  style="width:60%;float:left">
        <table>
          <tr>
            <td>
              <div class="row">
                <div style="width:150px" *ngFor="let widget of widget">
                  <div class="info-box" style="border: 2px solid grey; border-radius: 10px; width: 100%" (click)="showWidget(widget.id)">
                    <table style="width: 100%; text-align: center">
                      <tr>
                        <span style="width: 100%" class="info-box-icon"><i [ngClass]="widget.fontName"></i></span>
                      </tr>
                      <tr>
                        {{ widget.widgetName }}
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </section>

    <section  *ngIf="widget && widget.length > 0">
      <div style="width:40%;float:right">
        <table>
          <tr>
            <td style="">
              <div style="width: auto; padding:10px">
                <div>
                  <table style="width: auto; text-align: left;padding-left:10px">
                    <tr>
                      <div _ngcontent-ath-c5="">
                        <label _ngcontent-ath-c5="" class="mb-0">
                          Widget Name :
                        </label>
                        <span _ngcontent-ath-c5="" class="ml-1">
                          {{ clickWidget.widgetName }}
                        </span>
                        <a title="Edit" style="float:right;padding-right:30px" [routerLink]="['/widget','edit',clickWidget.id]"><i class="fas fa-pencil-alt"></i></a>
                      </div>
                      <div _ngcontent-ath-c5="">
                        <label _ngcontent-ath-c5="" class="mb-0">
                          Description :
                        </label>
                        <span _ngcontent-ath-c5="" class="ml-1">
                          {{ clickWidget.description }}
                        </span>
                        <a title="Delete" style="float: right; padding-right:30px" (click)="deleteWidget(clickWidget.id)"><i class="fa-regular fa-trash-can"></i></a>
                      </div>
                    </tr>
                    <tr style="height:10px">
                    </tr>
                    <tr style="text-align:center">
                      <div style="border: 1px solid grey; border-radius: 20px;width:400px;padding:40px">
                        <img style=" height:200px;width:300px" src="{{url}}" />
                      </div>
                    </tr>
                  </table>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </section>
  </section>
  <p *ngIf="!widget || widget.length == 0">No Widget Found!</p>
</div>
