.demo
{
    width:800px;
    background-color:gainsboro;
    color:blue;
}
.demo tbody tr{
  background-color:aliceblue;
  color: red;
}

.imgcss{
    width:30px;
    height:30px;
}


.divdemo {
  width: auto;
  height: auto;
  background-color: gainsboro;
  color: black;
}
<<<<<<< HEAD
=======

.adharnumbercss{
    font-weight:bold;
    color:black;
    font-size:23px;
}

.profilephoto {
  border: 3px solid brown;
}

.widgetHtml {
  background-color: gray;
  width: auto;
}
>>>>>>> 1aca5852892bb70fe16da3ad7f61f70d15254cef
