/* You can add global styles to this file, and also import other style files */
/*.main {
  background-color: #2F3034;
}*/

#main1 {
  padding-top: 10px;
  border: 1px solid grey;
}

.grid-container {
  border: 1px solid groove;
  /* max-width: 1000px;*/
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.grid-stack-item {
  border: 0;
}

.grid-stack-item-content {
  background-color: white;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.card {
  background: none;
}

section {
  padding: 0 15px 0 15px;
}

.grid-stack-item-removing {
  opacity: 0.8;
  filter: blur(5px);
}

@media all and (max-width: 575px) {
  #hero {
    margin-top: 32px;
  }
}

.logo {
  display: inline;
  margin-right: 15px;
}

#trash {
  background-color: #cc6857;
}

.newWidget > .grid-stack-item-content {
  background-color: #6cad84;
}

.clearfix1 {
  text-align: center;
  width: 1260px;
}

.rounded-3 {
  width: 1260px;
  border: 1px solid grey;
  padding: 8px;
}
/*.anyClass {
  height: 600px;
  overflow-y: scroll;
}*/

.text-white {
  text-align: center;
}

@media print {
  .content{
    display: none;
  }
  table {
    page-break-inside: avoid !important;
  }
  thead {
    display: table-header-group;
  }
 
  tr {
    page-break-inside: avoid;
  }
  th{
    transform-origin: 0 50%;
    transform: rotate(-90deg);
    white-space: nowrap;
    display: block;
    position: relative;
    top: 0;
    left: 50%;
  }

  table {
    page-break-inside: auto;
    background-color: lightblue;
    border: 2px solid black;
  }

  tr {
    page-break-inside: avoid;
    page-break-after: auto;
  }

  thead {
    display: table-header-group;
  }

  tfoot {
    display: table-footer-group;
  }

  td {
    border: 2px solid navy;
  }

  table {
    page-break-before: always;
  }

  @page {
    margin: 0;
    size: 0mm 0mm;
  }

  body {
    margin: 0;
  }
}


/* Importing Bootstrap SCSS file. */


