<div class="anyClass">
  <section class="content-header">

    <div  class="rounded-3">
      <div class="row">
        <div class="col-lg-12 text-white">
          <table>
            <tr>
              <td style="width:350px;text-align:left"><h5>Page Preview</h5></td>
              <td style=""><label>Change Theme:</label></td>&nbsp;&nbsp;&nbsp;
              <td>
                <select class="form-control"
                        id="cssname"
                        name="cssname"
                        [(ngModel)]="cssname"
                        (change)="changeCSS()"
                        required>
                  <option value="">Select a CSS file</option>
                  <option *ngFor="let cssFile of cssFiles" [value]="cssFile">{{ cssFile }}</option>
                </select>
              </td>&nbsp;&nbsp;
              <td>
                <button type="button" class="btn btn-primary" onclick="window.print()">Print Preview</button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

  </section>

  <section id="advancedDemo">
    <div class="col-sm-12 col-md-10" style="padding-bottom: 5px">
      <div class="grid-container main">
       
          <div style="height:700px" class="grid-stack" id="advanced-grid-preview" [ngStyle]="anyClassx"></div>
        
      </div>
    </div>
  </section>
</div>





