p {
  font-family: Lato;
}


.statusDropdownContainer, .calendarBtnContainer {
  padding-top: 6px;
}

.statusFilterDropdown {
  box-shadow: -2px 2px 4px 0px #888;
  background-color: #f2f8f9;
  border: 1px solid #d3d3d3;
}


.flex-middle {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.ng-select .ng-select-container {
  background-color: black;
}

.ng-option {
  background-color: dimgrey;
}


.ng-dropdown-panel {
  .ng-option {
    &.ng-option-marked {
      background-color: red !important;

      &:hover {
        background-color: blue !important;
      }
    }
  }
}
