p {
  font-family: Lato;
}

.widgetHtml {
  background-color: #343a40;
  color:white;
}


.statusDropdownContainer, .calendarBtnContainer {
  padding-top: 6px;
}

.statusFilterDropdown {
  box-shadow: -2px 2px 4px 0px #888;
  background-color: #f2f8f9;
  border: 1px solid #d3d3d3;
}


.flex-middle {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.ng-select .ng-select-container {
  background-color: #343a40;
  color: white;
}

.ng-option {
  background-color: dimgrey; 
}


.ng-dropdown-panel {
  .ng-option {
        background-color:dimgray !important;
        color:white;
    &.ng-option-marked {
      background-color:aliceblue !important;

      &:hover {
        background-color:darkgray !important;
      }
    }
  }
}
