<div class="container">
  <div>
    <h4 style="text-align:center">Add Widget</h4>
  </div>
 
  <div class="rounded-3" style=" width: 100%; border: 1px solid black; padding: 8px;">
    <div class="row">
      <!--<button type="button" (click)="ShowPreview()" class="btn btn-primary">Preview</button>&nbsp;&nbsp;-->
      <div style="width:10%;padding-left:10px">
        <!--<button (click)="goToNewPage('sdfs')">Go to New Page</button>-->
        <button type="button"
                class="btn btn-primary"
                (click)="ShowPreview('')">
          Preview
        </button>
      </div>
      <div style="width:30%">
      </div>
      <div [innerHTML]="renderedTemplate"></div>
    </div>
  </div>
  <div class="rounded-3" style="width: 100%; border: 1px solid black; padding-top: 8px; padding-left: 5px; padding-right: 5px;">
    <div class="row">
      <div class="col-8">
        <form #form="ngForm" (ngSubmit)="addWidget()">

          <div class="form-group row required mb-3">
            <label class="col-md-3 col-form-label" for="widgetName">
              Widget Name:
            </label>
            <div class="col-md-9">
              <input type="text" class="form-control" id="widgetName" name="widgetName" [(ngModel)]="newWidget.widgetName" />
            </div>
          </div>

          <div class="form-group row required mb-3">
            <label class="col-md-3 col-form-label" for="description">
              Description:
            </label>
            <div class="col-md-9">
              <textarea placeholder="Enter description" type="text" class="form-control" name="description"
                        id="description"
                        [(ngModel)]="newWidget.description">
                 </textarea>
            </div>
          </div>
          <div class="form-group row required mb-3">
            <label class="col-md-3 col-form-label" for="dataBindingJsonNode">
              Data Binding Json Node:
            </label>
            <div class="col-md-9">
              <input type="text" class="form-control" id="dataBindingJsonNode" name="dataBindingJsonNode" [(ngModel)]="newWidget.dataBindingJsonNode" />
            </div>
          </div>
          <div class="form-group row required mb-3">
            <label class="col-md-3 col-form-label" for="dataSourceJson">
              Data Source Json:
            </label>
            <div class="col-md-9">
              <textarea type="text" class="form-control" id="dataSourceJson" name="dataSourceJson" #dataSourceJson
                        [(ngModel)]="newWidget.dataSourceJson">
              </textarea>
            </div>
          </div>

          <div class="form-group row required mb-3">
            <label class="col-md-3 col-form-label" for="widgetHtml">
              Widget Html:                              
            </label>
            <div class="col-md-9">
              <textarea typeof="text" style="width:100%" rows="10" id="widgetHtml" name="widgetHtml" [(ngModel)]="newWidget.widgetHtml">
              </textarea>
            </div>
          </div>

          <div class="form-group row required mb-3">
            <label class="col-md-3 col-form-label" for="WidgetIconUrl">
              Widget Icon:
            </label>
            <div class="col-md-9">
              <img [src]="url" height="100" />
              <!--<img src="https://localhost:44381//uploads//a26ca398-160f-4a37-b7c6-7e1d6152add3.jpeg" height="100" />-->
              <input type="file" name="WidgetIconUrl" (change)="onselectFile($event)">
            </div>
          </div>
          <div class="form-group row required mb-3">
            <label class="col-md-3 col-form-label" for="fontName">
              Font Name:
            </label>

            <ng-select [items]="options" for="fontName" [(ngModel)]="newWidget.fontName">
              <ng-option *ngFor="let option of options" [value]="option.id">{{option.fontName}}></ng-option>
            </ng-select>

            <!--<ng-select [items]="iconList" appendTo="body"
   placeholder="Select Fruits"></ng-select>-->
            <!--<div class="dropdown h-10" class="statusDropdownContainer">
  <a class="btn btn-white dropdown-toggle mb-2 statusFilterDropdown h-10 flex-middle" href="#" role="button"
     id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="text-truncate">Expert: {{selectedValue ? selectedValue : 'All'}}</span>
  </a>
  <div class="dropdown-menu w-10 pt-0" aria-labelledby="dropdownMenuButton">
    <input type="text" class="w-10 p-2 searchInput" [ngModel]="searchValue" (ngModelChange)="filterDropdown($event)">
    <a *ngFor="let option of filteredOptions; let i=index" class="dropdown-item pointer text-contain"
       [ngClass]="{'alternateBackground': i%2 == 0 }" (click)="selectValue(option.fontName)">
      {{option.fontName}}
    </a>
    <div *ngIf="filteredOptions.length <=0" class="text-center text-muted mt-1">No expert found</div>
  </div>
  </div>-->
            <!--<input type="text" placeholder="Search" (input)="filterOptions($event)">
  <select [(ngModel)]="selectedOption">
    <option value="" disabled>Select an option</option>
    <option *ngFor="let option of filteredOptions" [value]="option.fontClass">{{ option.fontName }}</option>
    </select>-->
            <!--<div class="col-md-9">
    <select [(ngModel)]="selectedValue">
      <option *ngFor="let icon of filteredOptions" [value]="icon.fontName">{{ icon.fontName }}</option>
    </select>
    <input type="text" class="form-control" id="fontName" name="fontName" [(ngModel)]="newWidget.fontName" />
    {{selectedValue}}
  </div>-->
          </div>

            <div class="form-group row required">
              <label class="col-md-3 col-form-label" for="width">
                Initial Width:
              </label>
              <div class="col-md-4">
                <input type="text" class="form-control" id="width" name="width" [(ngModel)]="newWidget.width" />
              </div>
              <label class="col-md-2 col-form-label" for="height">
                Initial Height:
              </label>
              <div class="col-md-3">
                <input type="text" class="form-control" id="height" name="height" [(ngModel)]="newWidget.height" />
              </div>
            </div>
            <div>

              <button type="submit" class="btn btn-primary">Save</button>
            </div>
</form>
      </div>
    </div>

  </div>
</div>
