::ng-deep .grid-stack-item-content .ui-draggable-handle {
  background-color: #454d55;
}

::ng-deep .grid-stack > .grid-stack-item > .grid-stack-item-content {
  background-color: #454d55;
  background: #454d55 !important;
  overflow: hidden;
  margin: 0;
  position: relative;
  width: auto;
}


