::ng-deep .grid-stack-item-content .ui-draggable-handle {
  background-color: #454d55;
}

::ng-deep .grid-stack > .grid-stack-item > .grid-stack-item-content {
  background-color: #454d55;
  border-radius: 6px !important;
  background: #454d55 !important;
  overflow: hidden;
  margin: 0;
  position: absolute;
  width: auto;
  transition: transform .2s;
}

.zoomed {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}
