<div class="container">
  <div>
    <h4 style="text-align:center">Pages</h4>
  </div>

  <div class="rounded-3" style=" width: 100%; border: 1px solid grey; padding: 8px;">
    <div class="row">
      <div style="padding-left:10px">
        <button class="btn btn-primary" type="button">
          <a style="color:white" href="pages/add">Add Page + </a>
        </button>
      </div>
    </div>
  </div>

  <div class="card-body rounded-3" style=" width: 100%; border: 1px solid grey; padding: 8px">
    <div class="table-responsive">
      <table class="table table-bordered table-success table-striped">
        <thead class="bg-light">
          <tr>
            <td></td>
            <th>Page Name</th>
            <th>Description</th>
            <th>Data Source Json</th>
            <th style="width: 200px">Action</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let page  of page">
            <tr>
              <td style="width:40px;">
                <button class="border-0 bg-light" (click)="openCloseRow(page.id)">
                  <i *ngIf="rowSelected!=page.id; else close" class="right fas fa-angle-down" aria-hidden="true"></i>
                  <ng-template #close>
                    <i class="right fas fa-angle-up"></i>
                  </ng-template>
                </button>
              </td>
              <td>{{page.pageName}}</td>
              <td>{{page.description}}</td>
              <td>{{page.dataSourceJson}}</td>
              <td>
                <!--<a title="Edit" [routerLink]="['/page','edit',page.id]"><i class="fas fa-pencil-alt"></i></a>&nbsp;&nbsp;-->
                <a title="Edit" (click)="editPage(page.pageHtml,page.id)" ><i class="fas fa-pencil-alt"></i></a>&nbsp;&nbsp;
                <a title="Delete" (click)="deletePage(page.id)"><i class="fa-regular fa-trash-can"></i></a>&nbsp;&nbsp;
                <a title="Preview" (click)="previewPage(page.pageHtml)"><i class="fa-regular fa-eye"></i></a>
              </td>
            </tr>
            <tr *ngIf="rowSelected==page.id">
              <td colspan="6" style="padding-left: 49px;padding-top:0">
                <table class="table  table-bordered table-success">
                  <tbody>

                    <tr>

                      <td style="width:216px;">Page Html:- </td>
                      <td>{{ page.pageHtml }}</td>
                    <tr>

                      <td>Page CSS Url:- </td>
                      <td>{{page.pageCSSUrl}}</td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>

