<section id="advancedDemo" class="bg-primary">
  <div class="row">
    <div class="col-lg-12 text-white">
     <!--<ion-icon class="float-right" name="grid" style="font-size: 350%; margin-top: 10px"></ion-icon>-->
      <h4>Create Page Designer by using Widget</h4>
      <hr />
    </div>
  </div>
  <div class="bs-pagedesignbtn">
    <div class=" clearfix">
      <button type="button" class="btn btn-success float-right ml-2">Preview</button>
      <button (click)="saveAndUpdatePageWidgetContent()" type="button" class="btn btn-success float-right ml-2">Save</button>
      <button   type="button" class="btn btn-primary float-right">Cancel</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 d-none d-md-block" style="border-right: 1px dashed white;">
      <div id="trash" style="padding: 15px; margin-bottom: 15px;" class="text-center text-white">
        <div>
          <!--<ion-icon name="trash" style="font-size: 400%"></ion-icon>-->
        </div>
        <div>
          <span>Drop here to remove widget!</span>
        </div>
      </div>
      <div>

        <div class="text-center card text-white grid-stack-item newWidget  add">
          <div class=" card-body grid-stack-item-content add " *ngFor="let number of [0] ">

            <div style="background-color:black">
              <span>{{number}}</span>
            </div>

          </div>



        </div>
        <div class="text-center card text-white grid-stack-item newWidget add">
          
          <div class="card-body grid-stack-item-content add">
            
            <div style="background-color:black">
              
              <span> sfsdfd  </span>
            </div>
          </div>
        </div>'
        <div class="text-center card text-white grid-stack-item newWidget  add">


          <div class=" card-body grid-stack-item-content add " *ngFor="let number of [1] ">

            <div style="background-color:black">
              <span>{{number}}</span>
            </div>

          </div>

        </div>
      </div>

      <div style="width:100%" [innerHTML]="renderedWidgets"></div>

      <div class="text-center card text-white grid-stack-item newWidget">
        <div class="card-body grid-stack-item-content ">
          <div>
            <!--<ion-icon name="add-circle" style="font-size: 400%"></ion-icon>-->
          </div>
          <div>
            <span>Widget sample1</span>
          </div>

        </div>
      </div>





    </div>
    

    


    <div class="col-sm-12 col-md-10" style="padding-bottom: 25px;">
      <div class="grid-container">
        <div class="grid-stack" id="advanced-grid"></div>
      </div>
    </div>

  </div>



</section>

